<div class="contents row">
  <div class="container" style="background-image: url(<%= asset_path "image2.jpg" %>);">
    <p>新規登録</p>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :名前を入力してください %> <em>(6文字以内)</em><br />
        <%= f.text_field :name, autofocus: true, class: 'nameform'%>
      </div>
      <div class="field">
        <%= f.label :メールアドレスを記入してください %><br />
        <%= f.email_field :email, class: 'emailform' %>
      </div>

      <div class="field">
        <%= f.label :パスワードを入力してください %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'paswordform' %>
      </div>

      <div class="field">
        <%= f.label :もう一度パスワードを入力してください %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",class: 'paswordform' %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録する", class: 'submitbutun' %>
      </div>
    <% end %>
  </div>
</div>