<main class="main">
  <div class="inner">
  <% if user_signed_in? %>
    <%= form_with(url: search_cosmes_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
      <div class="greeting">
       <br>今日もメイクを楽しみましょう
      <%= link_to "#{current_user.name}さん", user_path(current_user.id), class: :greeting__link%>
      </div>
  <% end %>
    <div style="position: relative; display:inline-block;">
      <img src="/assets/index.jpg" alt="", class="image">
    <div class="font" style="position: absolute; top: 500px; left: 200px; max-width: 100%; max-height: 100%; padding: 30px; text-align: left;">
      <p>みんなのお気に入りコスメを投稿しよう</p>
    </div></div>
      <div class="card__wrapper">
      <%= render partial: 'cosme', collection: @cosmes %>
    </div>
  </div>
</main>
