<%= search_form_for @q, url: cosme_personalcolor_path, class: "search-form" do |f| %>
    <%= f.collection_select :personalcolor_id_eq, Personalcolor.where.not(id: 0), :id, :name, include_blank: "パーソナルカラー検索" %>
    <%= f.submit '検索', class: "search-btn" %>
<% end %>
    <div class="contents row">
          <h2>パーソナルカラー別検索結果 <%= @personalcolor.name %></h2>
        <% @cosmes.each do |cosme| %>
              <%= render partial: "cosme", locals: { cosme: cosme } %>
        <% end %>
    </div>

