<!DOCTYPE html>		
<html>
  <head>
    <meta charset="UTF-8">
    <head>
    <title>Cosmelog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <div id="wrapper">
    <header>
      <h1 class="headline">
      <%= link_to "cosmelog", root_path, class: :nav_listitem %>
      </h1>
      <div class="nav_list">
      <% if user_signed_in? %>
          <div class="nav_listitem">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
            <%= link_to "投稿する", new_cosme_path, class: :nav_listitem %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: :nav_listitem %>
            <%= link_to "新規登録", new_user_registration_path, class: :nav_listitem %>
          </div>
        <% end %>
      </div>
    </header>
    <!-- サイトの中身部分 -->
    <%= yield %>
    <!-- footer -->
    <footer>
      <ul class="footer-menu">
      <ul class="footer-menu">
      </ul>
      <p>
      Copyright cosmelog 2021.
      </p>
    </footer>
  </body>
</html>
